# 
# Adapted from the Spatan3e documentation,
# with input from the Ken Chapman's example ucf file.
#
NET "CLK_50MHZ" PERIOD = 20.0ns HIGH 50%;
#
NET "CLK_50MHZ" LOC = "C9" | IOSTANDARD = LVTTL;
#NET "CLK_50MHZ" LOC = C9 | IOSTANDARD = "LVCMOS33";
# The push buttons
NET "BTN_NORTH" LOC = "V4"  | IOSTANDARD = LVTTL | PULLDOWN;
NET "BTN_EAST"  LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;
NET "BTN_SOUTH" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;
NET "BTN_WEST"  LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN;
# THE TOGGLE SWITCHES
NET "SW<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "SW<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "SW<2>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET "SW<3>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;
# THE LEDS
NET "LED<0>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "LED<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "LED<2>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "LED<3>" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "LED<4>" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "LED<5>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "LED<6>" LOC = "E9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "LED<7>" LOC = "F9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
# The RS232 connections
NET "RS232_DCE_RX" LOC = "R7"  | IOSTANDARD = LVTTL; 
NET "RS232_DCE_TX" LOC = "M14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW; 
NET "RS232_DTE_RX" LOC = "U8"  | IOSTANDARD = LVTTL ; 
NET "RS232_DTE_TX" LOC = "M13" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = SLOW ; 
# LCD bus
NET "LCD_E" LOC = "M18"    | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "LCD_RS" LOC = "L18"   | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "LCD_RW" LOC = "L17"   | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "SF_D<8>" LOC = "R15"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "SF_D<9>" LOC = "R16"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "SF_D<10>" LOC = "P17" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "SF_D<11>" LOC = "M15" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "SF_CE0" LOC = "D16"   | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
# rotary dial
NET "ROT_CENTER" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN ;
#
# End of File
#
